body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fa0303;
}

header {
    background: #35424a;
    color: #fdfdfd;
    padding: 10px 0;
    text-align: center;
}

section {
    background: #ffffff;
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #35424a;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #35424a;
    color: white;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}
